<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Express Exam</title>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div class="container">

    {{#if errors}}
        <section class="notifications error">
            {{#each errors}}
            <p>{{this}}</p>
            {{/each}}
        </section>
    {{/if}}
    <div class="notFound">
        <h2>
            <p>404 : Page not found... :(</p>
        </h2>
    </div>

            <footer>
                <div>© 2020
                    <a href="https://softuni.bg/courses/js-back-end">JS Back-End</a>
                </div>
            </footer>

</body>

</html>